// remove nav bar

.nav-btn-bar{
	display:none;
}

hr.dingbat.related::after {
	content:"\1F391";
	font-size: 4.5rem;
}
/*
div.hr.pb0 {
	color:linear-gradient(180deg, black, white);
}*/

.page > header {
	margin-bottom: 4.5rem;
}

.page-title {
	text-align: center;
}

article.page {
	font-family:Helvetica;
}

span.roundedTitle {
	background-color:#000000;
	border-radius:15px;
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}