// remove nav bar

.nav-btn-bar{
	display:none;
}

hr.dingbat:after {
	content:"\1F391";
	font-size: 4.5rem;
}

div.hr.pb0 {
	color:linear-gradient(180deg, black, white);
}

.page > header {
	margin-bottom: 4.5rem;
}

.page-title {
	text-align: center;
	border-radius:25px;
}

article.page {
	font-family:Helvetica;
}

#titlespan {
	border-radius:25px;
}