// remove nav bar

.nav-btn-bar{
	display:none;
}

hr.dingbat:after {
	content:"\1F391";
	font-size: 4.5rem;
}

.page > header {
	margin-bottom: 4.5rem;
}

.page-title {
	text-align: center;
}

article.page > body {
	font-family:Helvetica;
}