

/*// remove menu button from top*/


#_menu {
  display:none;
}

/*hr.dingbat:after {
	content:"\1F391";
	font-size: 4.5rem;
}
*/

#titlespan {
	border-radius:25px;
}

// Image centering

img.centered {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

/*html {
	font-weight: 500;
}*/